<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.shop.apiServer.mapper.privates.ItemMapper">
    <resultMap id="itemMap" type="com.zhou.shop.api.dto.ItemDTO">
        <result column="aii" property="itemId"/>
        <result column="aic" property="itemCreateTime"/>
        <result column="aiu" property="itemUpdateTime"/>
        <result column="ain" property="itemName"/>
        <result column="ap" property="price"/>
        <result column="bsn" property="shopName"/>
        <result column="asi" property="shopId"/>
        <result column="cun" property="unitName"/>
        <result column="aui" property="unitId"/>
        <result column="aspi" property="specificationId"/>
        <result column="dsn" property="specificationName"/>
        <result column="sq" property="showQuantity"/>
        <result column="aiuq" property="itemUnitQuantity"/>
        <result column="air" property="itemRemark"/>
        <result column="bsa" property="shopAddress"/>
        <result column="aip" property="itemPicture"/>
        <result column="efi" property="flagId"/>
        <result column="efn" property="flagName"/>
    </resultMap>

    <select id="retrieveAllItem" resultMap="itemMap">
        select a.item_id                                                       aii,
               a.item_create_time                                              aic,
               a.item_update_time                                              aiu,
               a.item_name                                                     ain,
               a.price                                                         ap,
               a.item_unit_quantity                                            aiuq,
               a.item_remark                                                   air,
               a.item_picture                                                  aip,
               a.shop_id                                                       asi,
               b.shop_name                                                     bsn,
               b.shop_address                                                  bsa,
               a.unit_id                                                       aui,
               c.unit_name                                                     cun,
               a.specification_id                                              aspi,
               d.specification_name                                            dsn,
               concat(a.item_unit_quantity, concat(' ', d.specification_name)) sq,
               e.flag_id                                                       efi,
               e.flag_name                                                     efn
        from shop.item a,
             shop.shop b,
             shop.unit c,
             shop.specification d,
             shop.flag e
        where a.shop_id = b.shop_id
          and a.unit_id = c.unit_id
          and a.specification_id = d.specification_id
          and a.flag_id = e.flag_id
          and e.flag_type = 'item'
          and a.user_id = #{userId}
    </select>

    <select id="retrieveByItemName" resultMap="itemMap">
        select a.item_id                                                       aii,
               a.item_create_time                                              aic,
               a.item_update_time                                              aiu,
               a.item_name                                                     ain,
               a.price                                                         ap,
               a.item_unit_quantity                                            aiuq,
               a.item_remark                                                   air,
               a.item_picture                                                  aip,
               a.shop_id                                                       asi,
               b.shop_name                                                     bsn,
               b.shop_address                                                  bsa,
               a.unit_id                                                       aui,
               c.unit_name                                                     cun,
               a.specification_id                                              aspi,
               d.specification_name                                            dsn,
               concat(a.item_unit_quantity, concat(' ', d.specification_name)) sq,
               e.flag_id                                                       efi,
               e.flag_name                                                     efn
        from shop.item a,
             shop.shop b,
             shop.unit c,
             shop.specification d,
             shop.flag e
        where a.shop_id = b.shop_id
          and a.unit_id = c.unit_id
          and a.specification_id = d.specification_id
          and a.flag_id = e.flag_id
          and e.flag_type = 'item'
          and a.item_name like concat(concat('%',#{itemName}),'%')
          and a.user_id = #{userId}
    </select>
</mapper>
