<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.shop.apiServer.mapper.FlagMapper">
    <select id="retrieveByFlagName" resultType="com.zhou.shop.api.entity.Flag">
        select *
        from shop.flag
        where flag_name = #{flagName}
    </select>
</mapper>
