<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.shop.apiServer.mapper.SpecificationMapper">
    <select id="retrieveBySpecificationName" resultType="com.zhou.shop.api.entity.Specification">
        select *
        from shop.specification
        where specification_name like '%${specificationName}%'
    </select>
</mapper>