<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.shop.mapper.SitcomNumberMapper">
    <select id="retrieveBySitcomId" resultType="com.zhou.shop.entity.SitcomNumber">
        select *
        from sitcom_number
        where sitcom_id = #{sitcomId}
    </select>

    <select id="retrieveBySitcomNumberName" resultType="com.zhou.shop.entity.SitcomNumber">
        select *
        from sitcom_number
        where sitcom_number_name like '%${sitcomNumberName}%'
    </select>

    <delete id="deleteBySitcomId">
        delete
        from sitcom_number
        where sitcom_id = #{sitcomId}
    </delete>
</mapper>
